/* style.css */

body {
    background-color: #e0f7fa;  /* Bright light blue background */
    color: #0d0d0d;             /* Almost pure black text */
    font-family: Georgia, serif;
    margin: 40px;
    line-height: 1.6;
}

p {
    text-align: justify;
    font-weight: normal;
}

h1 {
    color: #004d40;             /* Deep teal for headings */
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
h2 {
    color: #004d40;             /* Deep teal for headings */
    margin-top: 30px;
    text-align: center;
    font-weight: 900;
    font-size: 25px;
}
h3 {
    color: #004d40;             /* Deep teal for headings */
    margin-top: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1.2px;
}

i {
    color: #006064;             /* Blue-gray for italic text */
    text-decoration: wavy underline;
    text-decoration-color: rgb(1, 76, 1);
/*text-decoration: red underline; */
}
